Source: posix-spawn
Maintainer: Shaun Crampton <shaun@projectcalico.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all-dev (>= 2.6.6-3), debhelper (>= 7), python-cffi (>=0.8.2)
Standards-Version: 3.9.1



Package: python-posix-spawn
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python-cffi (>=0.8.2)
Description: CFFI bindings to posix_spawn.




